version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 3
    groups:
      python-deps:
        patterns:
          - "*"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 3
    groups:
      actions:
        patterns:
          - "*"
    labels:
      - "ci"
    commit-message:
      prefix: "ci"
